#nav-bar {
  background-color: $color1;
  color: $colorText;
  height: 80px;
  width: 100%;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;

  .logo {
    height: 80px;
    float: left;
  }

  .header {
    padding-left: 10px;
    font-size: 36px;
    line-height: 80px;
  }

  .compose {
    float: right;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
    /* Safari */
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    border: 2px solid $colorComposeButtonBorder;
    background-color: $colorComposeButton;
    color: $colorComposeButtonText;
    outline: none;
  }

  .compose:hover {
    background-color: $colorComposeButtonHover;
    color: $colorComposeButtonHoverText;
  }
}
