.new-tweet {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $colorBorder;
  background-color: $color2;
  border-radius: 10px;
  position: fixed;
  z-index: 1030;
  width: 74%;
  max-width: 600px;
  height: 32.5vw;
  max-height: 200px;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;

  h2 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  hr {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .tweet-text {
    width: 100%;
    height: 90px;
    font-size: 22px;
  }

  form {
    margin-bottom: 10px;
    height: 19.4vw;
    max-height: 132px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .submit-button {
    margin-top: 10px;
    background-color: $colorComposeButton;
    border: 2px solid $colorComposeButtonBorder;
    color: $colorComposeButtonText;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    outline: none;
    width: 12.3vw;
    max-width: 90px;
    align-self: center;
  }

  .submit-button:hover {
    background-color: $colorComposeButtonHover;
    border-color: $colorBorder;
    color: $colorComposeButtonHoverText;
  }

  .counter {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
  }
}

.tweets {
  padding-left: 2em;
  padding-right: 2em;
  clear: both;
}

.error {
  margin-top: 15px;
  font-weight: bold;
  color: $colorErrorText;
}

.error-count {
  color: $colorErrorText;
}

@media screen and (max-width: $break-small) {
  .new-tweet {
    width: 370px;
    height: 162px;

    form {
      height: 97px;
    }

    .tweet-text {
      height: 65px;
      font-size: 16px;
    }

    .submit-button {
      margin-top: 5px;
      height: 30px;
      width: 61.5px;
    }

    .counter {
      margin-top: 5px;
      font-size: 20px;
    }

    .error {
      margin-top: 10px;
    }
  }
}
