.new-tweet {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $colorBorder;
  background-color: $color4;
  border-radius: 10px;
  position: fixed;
  z-index: 1030;
  width: 370px;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;

  h2 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  hr {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .tweet-text {
    width: 100%;
    height: 65px;
  }

  form {
    margin-bottom: 10px;
  }

  .submit-button {
    background-color: $colorComposeButton;
    border: 2px solid $colorComposeButtonBorder;
    color: $colorComposeButtonText;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    outline: none;
  }

  .submit-button:hover {
    background-color: $colorComposeButtonHover;
    color: $colorComposeButtonHoverText;
  }

  .counter {
    float: right;
  }
}

.tweets {
  padding-left: 2em;
  padding-right: 2em;
  clear: both;
}

.error {
  color: red;
}
