#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  width: 100%;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;

  .logo {
    height: 80px;
    float: left;
  }

  .header {
    padding-left: 10px;
    font-size: 36px;
    line-height: 80px;
  }

  .compose {
    float: right;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
    /* Safari */
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    border: 2px solid white;
    background-color: #00c5a8;
    color: white;
    outline: none;
  }

  .compose:hover {
    background-color: white;
    color: black;
  }
}
