.new-tweet {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #000000;
  background-color: #eeeeee;
  border-radius: 10px;
  position: fixed;
  z-index: 1030;
  width: 370px;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.new-tweet h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.new-tweet hr {
  margin-top: 0;
  margin-bottom: 20px;
}

.new-tweet textarea {
  width: 100%;
}

.new-tweet form {
  margin-bottom: 10px;
}

.new-tweet .counter {
  float: right;
}

.tweets {
  padding-left: 2em;
  padding-right: 2em;
  clear: both;
}

.error {
  color: red;
}
