.tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  border: 2px solid #dddddd;
  background-color: #eeeeee;
  border-radius: 5px;
  opacity: 0.6;
}

.tweet header {
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
  font-weight: bold;
}

.tweet form {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet footer {
  background-color: white;
  border-top: 1px solid #dddddd;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}